# compiled output
/dist
/node_modules

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# OS Files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.production
!.env.example

# IDE
.idea
.vscode
*.swp
*.swo

#planning file
planning-aegisapi.md
planning-feature.md
plan-prisma-orm.md



